
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"/>
    
          
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <!-- site metas -->
    <title>MSK Furnish</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- site icons -->
    <link rel="icon" href="images/fevicon/fevicon.png" type="image/gif"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!-- Site css -->
    <link rel="stylesheet" href="css/style.css"/>
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css"/>
    <!-- colors css -->
    <link rel="stylesheet" href="css/colors1.css"/>
    <!-- custom css -->
    <link rel="stylesheet" href="css/custom.css"/>
    <!-- wow Animation css -->
    <link rel="stylesheet" href="css/animate.css"/>
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css"/>
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css"/>
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 <link rel='canonical' href='index.ejs' />
<script type="text/javascript">var ezouid = "1";</script><base href="index.ejs"><script type='text/javascript'>
var ezoTemplate = 'old_site_noads';
if(typeof ezouid == 'undefined')
{
  var ezouid = 'none';
}
var ezoFormfactor = '1';
var ezo_elements_to_check = Array();
</script><!-- START EZHEAD -->
<script data-ezscrex="false" type='text/javascript'>
var soc_app_id = '0';
var did = 317139;
var ezdomain = 'html.design';
var ezoicSearchable = 1;
</script>
<!--{jquery}-->
<!-- END EZHEAD -->
<script data-ezscrex="false" type="text/javascript" data-cfasync="false">var _ezaq = {"ad_cache_level":0,"ad_lazyload_version":0,"ad_load_version":0,"city":"Chennai","country":"IN","days_since_last_visit":-1,"domain_id":317139,"engaged_time_visit":337,"ezcache_level":2,"ezcache_skip_code":0,"form_factor_id":1,"framework_id":1,"is_return_visitor":false,"is_sitespeed":0,"last_page_load":"1662702682988","last_pageview_id":"d802e9f4-9ddf-4438-4279-007451cabb2f","lt_cache_level":0,"metro_code":0,"page_ad_positions":"","page_view_count":19,"page_view_id":"b299613f-e3ec-44a3-663c-bbfb8b016040","position_selection_id":0,"postal_code":"600017","pv_event_count":0,"response_size_orig":63870,"response_time_orig":6,"serverid":"18.136.210.1:9252","state":"TN","t_epoch":1662702715,"template_id":120,"time_on_site_visit":1077,"url":"https://html.design/demo/furnish/index.html","user_id":0,"weather_precipitation":0,"weather_summary":"","weather_temperature":0,"word_count":663,"worst_bad_word_level":0};var _ezExtraQueries = "&ez_orig=1";</script>
<script data-ezscrex='false' data-pagespeed-no-defer data-cfasync='false'>
function create_ezolpl(pvID, rv) {
  var d = new Date();
  d.setTime(d.getTime() + (365*24*60*60*1000));
  var expires = "expires="+d.toUTCString();
  __ez.ck.setByCat("ezux_lpl_317139=" + new Date().getTime() + "|" + pvID + "|" + rv + "; " + expires, 3);
}
function attach_ezolpl(pvID, rv) {
  if (document.readyState === "complete") {
      create_ezolpl(pvID, rv);
  }
  if(window.attachEvent) {
      window.attachEvent("onload", create_ezolpl, pvID, rv);
  } else {
      if(window.onload) {
          var curronload = window.onload;
          var newonload = function(evt) {
              curronload(evt);
              create_ezolpl(pvID, rv);
          };
          window.onload = newonload;
      } else {
          window.onload = create_ezolpl.bind(null, pvID, rv);
      }
  }
}

__ez.queue.addFunc("attach_ezolpl", "attach_ezolpl", ["b299613f-e3ec-44a3-663c-bbfb8b016040", "false"], false, ['/detroitchicago/boise.js'], true, false, false, false);
</script>
<script type="text/javascript">var _audins_dom="html_design",_audins_did=317139;__ez.queue.addFile('/detroitchicago/cmbv2.js', '/detroitchicago/cmbv2.js?gcb=195-0&cb=04-3y02-8y06-13y07-2y19-7y0b-6y0d-21y13-4y17-5y1c-4y21-3y2f-4y57-2&cmbcb=108&sj=x04x02x06x07x19x0bx0dx13x17x1cx21x2fx57&abt=NMashStaticSol', true, [], true, false, true, false);</script>
<script type="text/javascript" defer>__ez.queue.addFile('/detroitchicago/cmbdv2.js', '/detroitchicago/cmbdv2.js?gcb=195-0&cb=03-8y0c-6y18-5&cmbcb=108&sj=x03x0cx18&abt=NMashStaticSol', true, ['/detroitchicago/cmbv2.js'], true, false, true, false);</script></head>
 <body id="default_theme" class="home_1">
    <!-- loader -->
    <!-- <div class="bg_load"> <img class="loader_animation" src="images/loaders/loader_1.png" alt="#"/> </div> -->
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
       <!-- header top -->
       <div class="header_top">
          <div class="container">
             <div class="row">
                <div class="col-md-9 col-lg-9">
                   <div class="full">
                      <div class="topbar-left">
                         <ul class="list-inline">
                            <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                            <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="/cdn-cgi/l/email-protection#c2abaca4ad82bbadb7b0a6adafa3abaceca1adaf"><span class="__cf_email__" data-cfemail="442d2a222b043d2b3136202b29252d2a6a272b29">[email&#160;protected]</span></a></span> </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-lg-3 right_section_header_top">
                   <div class="float-right">
                      <div class="social_icon">
                         <ul class="list-inline">
                            <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                            <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                            <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                            <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                            <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end header top -->
       <!-- header bottom -->
       <div class="header_bottom">
          <div class="container">
             <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                   <!-- logo start -->
                   <div class="logo"><a href="home"><img src="images/logos/logo.png" alt="logo"/></a></div>
                   <!-- logo end -->
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                   <!-- menu start -->
                   <div class="menu_side">
                      <div id="navbar_menu">
                         <ul class="first-ul">
                            <li>
                               <a class="active" href="home">Home</a>
                            </li>
                            <li>
                               <a href="/home">Pages</a>
                               <ul>
                                  <li><a href="about">About Us</a></li>
                                  <li><a href="career">Career</a></li>
                                  <li><a href="faq">Faq</a></li>
                                  <li><a href="privacy_policy">Privacy Policy</a></li>
                                  <!-- <li><a href="error">Error 404</a></li> -->
                               </ul>
                            </li>
                            <li>
                               <a href="service">Services</a>
                               <ul>
                                  <li><a href="service_detail">Services Detail</a></li>
                               </ul>
                            </li>
                            <li>
                               <a href="blog">Blog</a>
                               <ul>
                                  <li><a href="blog_detail">Blog Detail</a></li>
                               </ul>
                            </li>
                            <li>
                               <a href="shop">Shop</a>
                               <ul>
                                  <li><a href="shop">Shop List</a></li>
                                  <li><a href="shop_detail">Shop Detail</a></li>
                                  <li><a href="cart">Shopping Cart</a></li>
                                  <li><a href="checkout">Checkout</a></li>
                               </ul>
                            </li>
                            <li><a href="contact">Contact</a></li>
                         </ul>
                      </div>
                      <div class="search_icon">
                         <ul>
                            <li><a href="/home" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                         </ul>
                      </div>
                   </div>
                   <!-- menu end -->
                </div>
             </div>
          </div>
       </div>
       <!-- header bottom end -->
    </header>
    <!-- end header -->